.reponEmpty {
  background-color: #777171;
  padding: 10px;
  border-radius: 5px;
  margin-top: 50px;
  color: white;
}

.formGroup {
  display: flex;
  flex-direction: column;
  padding: 15px;
}

.formContent {
  background-color: white;
  border: 1px dotted #ccc;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 2px 2px 4px #bdb8b8;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    background-color: #75acce6d;
  }
}

.titleMain {
  width: 100%;
  h2 {
    font-weight: 500;
    font-size: 23px;
  }
}

.listRule {
  width: 100%;
  margin: 20px 0;
}

.itemRule {
  text-align: left;
  font-size: 18px;
  padding: 5px 0;
}

.text {
  display: flex;
  justify-content: center;
}

.language {
  background-color: orange;
  color: #f3f3f3;
  font-weight: 600;
  border-radius: 0.8rem;
  padding: 3px 8px;
  width: fit-content;
}
