.UserInfo {
  width: 100%;
}

.searchUser {
  display: flex;
  flex-direction: column;
  padding: 50px 0 20px;
}

.logo {
  width: 220px;
  margin: 0 auto;
}

.inputSearch {
  padding: 13px;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 20px;
  width: 100%;
}

.inputForm {
  position: relative;
  margin-top: 20px;
  overflow: hidden;

  i {
    position: absolute;
    top: 50%;
    right: -20px;
    transform: translateY(-50%);
    font-size: 30px;
    color: #375c9a;
    font-weight: 900;
    transition: all 0.3s ease-in-out;
  }

  &:hover {
    i {
      right: 20px;
    }
  }
}
